
# Backend URL (for development)
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
NEXT_PUBLIC_LLM_BACKEND_URL=http://localhost:4000/llm
NEXT_PUBLIC_SITE_URL=http://localhost:3000 # (only for development)
NEXT_PUBLIC_GRAPH_AGENT_DEBUG=true
# For Basic Auth in the tool
AUTH_MAP="user1=password1;user2=password2"
