# This is an example of a .env file for the project. Copy this file to .env and fill in the values.
# OptimusKG Neo4j connection used by docker compose
OPTIMUS_NEO4J_URI=bolt://optimus-neo4j:7687
OPTIMUS_NEO4J_USERNAME=neo4j
OPTIMUS_NEO4J_PASSWORD=optimus-password
OPTIMUS_NEO4J_DATABASE=optimusKG

# Redis database credentials
REDIS_PASSWORD=
